.card-cover-list {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin: 0 auto;
    padding: 30px 40px;
    border-radius: 10px;
    background-color: #f25791;
}

.card-cover-all {
    color: #fff;
    font-size: 1.8em;
    font-weight: bold;
}

.card-cover-item {
    color: #fff;
    cursor: pointer;
}

.card-cover-item:hover {
    font-weight: bold;
}

/* Today's Best */
.todays-best {
    width: 85%;
    margin: 0 auto;
}

.todays-best-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.best-info {
    display: inline-block;
    position: relative;
    width: 94%;
    padding: 50px 40px;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
}

.best-info p {
    color : #999;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0px;
}

.best-info h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 140px;
}

.best-info .best-button {
    padding: 10px 20px;
    background-color: #000;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}


.best-images img {
    position: absolute;
    width: 55%;
    height: 100%;
    top: 50%;
    left: 73%;
    transform: translate3d(-50%, -50%, 1px);
    object-fit: cover;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
}

.best-info:hover img {
    transform: translate3d(-45%, -50%, 1px) scale(1.1);
}

.additional-info {
    width: 102%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.top-content {
    display: flex;
    position: relative;
    padding: 0 10px 0 150px;
    overflow: hidden;
}

.additional-info .top-content:not(:last-child) {
    border-right: 1px solid #ddd;
}

.top-content-img-container {
    position: absolute;
    width: 130px;
    height: 100px;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    overflow: hidden; 
    border-radius: 15px; 
}

.top-content-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.3s ease-in-out; 
}

.top-content:hover img {
    transform: scale(1.2);
}

.top-contnet-title {
    width: 180px;
    margin-left: 20px;
}

.top-contnet-title p {
    color: #999;
}

/* Latest Content Section */
.latest-content {
    width: 86%;
    margin: 0 auto;
    cursor: pointer;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 30px;
}

.content-item {
    position: relative;
    display: inline-block;
    width: 270px;
    height: 310px;
    margin-right: 28px;
    margin-bottom: 28px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}

.content-item img {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate3d(-50%, -50%, 1px);
    width: 100%;
    height: 190px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.content-item:hover img {
    transform: translate3d(-50%, -60%, 1px) scale(1.2);
}

.content-item-title {
    position: absolute;
    top: 54%;
    padding: 20px;
}

.content-item-title h4 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
}

.content-item-title p {
    font-size: 14px;
    font-weight: 600;
    color: #aaa;
}


