.card-cover-list {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin: 0 auto;
    padding: 30px 40px;
    border-radius: 10px;
    background-color: #f25791;
}

.card-cover-all {
    color: #fff;
    font-size: 1.8em;
    font-weight: bold;
}

.card-cover-item {
    color: #fff;
    cursor: pointer;
}

.card-cover-item:hover {
    font-weight: bold;
}

/* Today's Best */
.todays-best {
    width: 85%;
    margin: 0 auto;
}

.todays-best-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.best-info {
    display: inline-block;
    position: relative;
    width: 94%;
    padding: 50px 40px;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
}

.best-info p {
    color : #999;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0px;
}

.best-info h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 140px;
}

.best-info .best-button {
    padding: 10px 20px;
    background-color: #000;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}


.best-images img {
    position: absolute;
    width: 55%;
    height: 100%;
    top: 50%;
    left: 73%;
    transform: translate3d(-50%, -50%, 1px);
    object-fit: cover;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
}

.best-info:hover img {
    transform: translate3d(-50%, -50%, 1px) scale(1.1);
}

.additional-info {
    cursor: pointer;
}

.top-content {

}

.top-content-image {

}

.top-content-category {

}

.top-content-name {
    
}



