.card-cover-list {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin: 0 auto;
    padding: 30px 40px;
    border-radius: 10px;
    background-color: #f25791;
}

.card-cover-all {
    color: #fff;
    font-size: 1.8em;
    font-weight: bold;
}

.card-cover-item {
    color: #fff;
    cursor: pointer;
}

.card-cover-item:hover {
    font-weight: bold;
}

/* Today's Best */
.todays-best {
    width: 85%;
    margin: 0 auto;
}

.todays-best-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
}


.best-info {
    width: 70%;
    background-color: white;
}

.best-info h3 {
    font-size: 30px;
    font-weight: bold;
}

.best-info .best-button {
    padding: 10px 20px;
    background-color: #000;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}


.best-images img {
    width: 100%;
}



