
.cardcompany-event-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 20px;
}
.event-companys {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}


.event-content-img {
    width: 100px;
    height: 100px;
    padding: 15px;
}

.event-content-info h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px;
    color: #333;
}

.event-content-info p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.event-content-info a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.event-content-info a:hover {
    background-color: #0056b3;
}