.footer {
    width: 100%;
    min-width: 1250px;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Arial, sams-serif;
    background-color: #f4f2f2;
}

/* Newsletter Section */
.footer-newsletter {
    background-color: #111;
    padding: 30px;
}

.footer-newsletter h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.footer-newsletter p {
    font-size: 20px;
    margin-bottom: 30px;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

.newsletter-form input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 1px;
    width: 200px;
}

.newsletter-form button {
    background-color: #ffc107;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.newsletter-agreement {
    display: flex;
    justify-content: center;
    margin: 10px 0 40px;
    font-size: 14px;
    gap: 20px;
}

.newsletter-info .text-circle{
    display: inline-block;
    padding: 13px 30px;
    border-radius: 50px;
    background-color: #cc9a033d;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.newsletter-info .text-circle:hover {
    background-color: #f0b5044c;
}


.newsletter-info p {
    font-size: 15px;
    margin-top: 10px;
}

.newsletter-info a {
    color: #ffc107;
    text-decoration: none;
}

/* Footer Links Section */
.footer-links {
    justify-content: space-between;
    align-items: center;
    min-width: 1250px;
    padding: 20px 0 10px;
}

.footer-social {
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer-social a {
    font-size: 45px;
    color: #111;
    margin: 0 30px;
    transition: color 0.3s;
}

.footer-social a:hover {
    color:#6c6964
}

.footer-nav a {
    color: black;
    margin: 0 20px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

.footer-nav a:hover {
    color: #ffc107;
}

.horizontal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Footer Bottom Section */
.footer-bottom p {
    font-size: 15px;
    margin-top: 10px;
    color:#5f5d5d;
}

.footer-bottom a {
    text-decoration: none;
    color: #111;
}

