.cashback-event-button-container {
    width:100%;
    margin: 0 auto;
    padding: 20px;
}

.tabs {
    display: flex;
}

.tab {
    flex: 1;
    padding: 20px 0px;
    text-align: center;
    border: none;
    font-size: 25px;
    font-weight: bold;
    color: #aaa;
    border-bottom: 1px solid #aaa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.tab.active {
    color: #000;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: none;
    background-color: #fafafa;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
    padding: 30px 0;
    gap: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    background-color: #fff;
    flex-wrap: wrap;
}

.filter-button,  
.faq-button,
.last-event-button  {
    color: #666;
    font-weight: bold;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 8px 15px;
    cursor: pointer;
}

.last-event-button:hover {
    color: #000;
}

.last-event-button:active {
    color: #fff;
    background-color: #000;
}


.faq-button:hover {
color: #666 ;
background: rgba(0, 0, 0, 0.1);
}



.cashback-event-container {
    width:100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}  

.card-event-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-event-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 50px;
    background-color: #fff;
    border-radius: 10px;
}

.card-event-item:hover {
    border: 1px solid #ddd;
}

.card-event-logo {
    width: 40px;
    height: 60px;
    object-fit: contain;
}

.card-event-name {
    flex: 1;
    margin-left : 40px;
    font-size: 16px;
    font-weight: bold;
}

.event-button {
    color: #ff6000;
    font-size: 16px;
    font-weight: bold;
    background-color: #ffefe5;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}

