.cashback-event-container {
    width:100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}  

.card-event-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-event-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 50px;
    background-color: #fff;
    border-radius: 10px;
}

.card-event-item:hover {
    border: 1px solid #ddd;
}

.card-event-logo {
    width: 40px;
    height: 60px;
    object-fit: contain;
}

.card-event-name {
    flex: 1;
    margin-left : 40px;
    font-size: 16px;
    font-weight: bold;
}

.event-button {
    color: #ff6000;
    font-size: 16px;
    font-weight: bold;
    background-color: #ffefe5;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.angle-icon {
    margin-left: 40px;
    color : #666;

}

@media (max-width: 1165px) {
    .cashback-event-container {
        width: auto;
    }
    
    .card-event-name {
        margin-right: 20px;
    }


    .angle-icon {
        margin-left: 20px;
    }
}

