.youtube {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px;
    font-family: Arial, sans-serif;
}

.shorts-title {
    font-size: 36px;
    font-weight: 900;
}

.shorts-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
}

.short-video {
    position: relative;
    width: 250px;
    height: 500px;
    cursor: pointer;
}

.short-video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3%;
}

.play-button-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: ragb(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    text-align: center;
}

.modal-content iframe {
    width: 100%;
    height: 600px;
    border: none;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}
