.youtube {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px;
    font-family: Arial, sans-serif;
}

.shorts-title {
    font-size: 36px;
    font-weight: 900;
}

.shorts-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: nowrap;
}

.short-video {
    position: relative;
    width: 240px;
    height: 500px;
    cursor: pointer;
}

.short-video img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    border-radius: 3%;
    border: 1px solid black;
}

.play-button-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: rgb(229, 54, 54);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: ragb(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    padding: 20px;
    border-radius: 10%;
    position: relative;
    text-align: center;
}

.modal-content iframe {
    width: 900px;
    height: 1600px;
    border-radius: 10px;
    border: 0.1px solid black;
}


