.popular-content {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: 20px auto;
    padding: 30px;
    font-family: Arial, sans-serif;
}

.popular-content h2 {
    font-size: 36px;
    font-weight: 900;
    margin: 0 40px;
}

.popular-content-container{
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: nowrap;
}

.popular-card {
    flex: 0 0 auto;
    width: 180px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3), 20px 20px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.contents-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.popular-card:hover .contents-image {
    transform: scale(1.3);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
    border-radius: 10px;
}

.contents-info {
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    color: white;
}

.contents-posts {
    font-size: 14px;
    color: #f2be63;
}

.posts-label {
    color : white;
}