/* Header General Style */
.header {
    width: 100%;
    display: grid;
    font-family: Arial, sans-serif;
    
}

/* Header Information Section */
.header-top {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    font-size: 14px;
    margin: 15px auto;
    column-gap: 320px; 
}

.header-top-left {
    align-items: center;
}

.rank {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 50px;
    background-color: #f4f2f2;
    padding: 5px 30px;
    border-radius: 27px;
    margin-right: 10px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: height 0.3s ease;
}

.rank.expanded {
    height: 150px; 
  }

.card-image {
    width: 30px;
    height: 40px;
}

.card-info {
    font-weight: bold;
    word-wrap: break-word;

}

.header-top-center{
    text-align: center;
}

.logo-image {
    width: 200px;
}

.header-top-right {
    color: #333;
}

.header-top-right span {
    white-space: nowrap; 
}

.event-text {
    font-size: 12px;
    color: #8b8988;
}

.card-image2 {
    width: 30px;
    height: 40px;
}


/* Main Header */
.header-main {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin : 0 auto;
    position: relative;
}

.nav-menu {
    flex: 1;
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-menu ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
    white-space: nowrap;
}

.nav-manu ul li {
    cursor: pointer;
    font-size: 16px;
}

.nav-menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-menu a:hover {
    color :#ffa800
}

.header-icons {
    display: flex;
    gap: 15px;
    transform: translateX(600px);
}

.search-icon,
.cart-icon {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.cart-icon {
    position: relative;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #f2be63;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
}

.divider {
    width: 100%;
    border: 0.5px solid #eaeaea;
}
