/* Header General Style */
.header {
    width: 100%;
    display: grid;
    font-family: Arial, sans-serif;
    
}

/* Header Information Section */
.header-top {
    position: relative;
    width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 14px; 
}

.header-top-left, .header-top-right {
    flex: 1;
    text-align: center;
}


.header-top-left {
    align-items: center;
}

.rank {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 50px;
    background-color: #f4f2f2;
    padding: 5px 30px;
    border-radius: 27px;
    margin-right: 10px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: height 0.3s ease;
}

.rank.expanded {
    height: 150px; 
  }

.card-image {
    width: 30px;
    height: 40px;
}

.card-info {
    font-weight: bold;
    word-wrap: break-word;

}

.header-top-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.logo-image {
    width: 200px;
}

.header-top-right {
    overflow: hidden;
}

.card-image2 {
    width: 500px;
    margin-top: 10px;
}


/* Main Header */
.header-main {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin : 0 auto;
    position: relative;
}

.nav-menu {
    position: static;
    justify-content: center;
    transform: none;
    cursor: pointer;
}

.nav-menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
    white-space: nowrap;
    font-size: 18px;
}

.nav-manu ul li {
    cursor: pointer;
}

.nav-menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.1s ease-in-out;
}

.nav-menu a:hover {
    color :#ffa800
}

.nav-menu .active-link {
    color: #ffa800;
    transition: color 0.1s ease-in-out;
}

.header-icons {
    position: absolute;
    right: -17%;
    transform: translateY(-50%);
    display: flex;
    transform: none;
    margin-left: auto;
    gap: 5px;
}

.search-icon,
.cart-icon {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.cart-icon {
    position: relative;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #f2be63;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
}

.divider {
    width: 100%;
    border: 0.5px solid #eaeaea;
    margin: 0;
}

.menu-toggle {
    display: none;
}

@media (max-width: 1330px) {
    .header-top {
        width: 1000px;
        padding: 10px;
    }   
    
    .menu-toggle {
        display: none;
    }
}

@media (max-width: 1000px) {
    .hearder {
    }

    .header-top {
        height: 230px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .header-top-center {
       position: absolute;
       top: 6%;
       left: 15%;
    }

    .header-top-left {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 90%;
    }

    .rank {
        width: 100%;
        border-radius: 10px;
    }

    .header-top-right {
        position: absolute;
        left: 50%;
        top: 63%;
        transform: translateX(-50%);
        width: auto;
    }

    .card-image2 {
        position: relative;
        right: 15%;
    }

    .header-main {
        position: absolute;
        top: 3%;
        left: 92%;
    }

    .menu-toggle {
        display: contents;
        background: none;
        border: none;
        font-size: 32px;
        cursor: pointer;

    }

    .nav-menu {
        display: none;
        position: fixed;
        top: 0;
        width: 500px;
        height: 100%;
        padding-top: 100px;
        background-color: white;
        transition: left 0.3s ease;
        z-index: 1001;
    }

    .nav-menu.open {
        display: block;
        right: 0;
    }

    .nav-menu ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-bottom: 20px;
    }

    .nav-menu li {
        padding: 20px;
        border-bottom: 1px solid #ddd;
    }

    .nav-menu li a {
        text-decoration: none;
        color: black;
        font-size: 20px;
    }

    .nav-menu i {
        display: none;
    }

    .nav-overlay {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        min-width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }

    .nav-overlay.open {
        display: block;
    }

    .header-icons {
        position: absolute;
        right: 110%;
    }

    .search-icon {
        display: none;
    }

}